@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0c1a2b;
    --muted: #f5f9fc;
    --muted-foreground: #6b7685;
    --popover: #ffffff;
    --popover-foreground: #0c1a2b;
    --border: #e9eff5;
    --input: #e9eff5;
    --card: #ffffff;
    --card-foreground: #0c1a2b;
    --primary: #1c9dea;
    --primary-foreground: #ffffff;
    --secondary: #223645;
    --secondary-foreground: #fff;
    --accent: #f5f9fc;
    --accent-foreground: #0c1a2b;
    --destructive: #ff0000;
    --destructive-foreground: #fafdff;
    --ring: #97a7c2;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0b0d13;
    --foreground: #e9efff;
    --muted: #0c1b2e;
    --muted-foreground: #8a94a7;
    --accent: #17222d;
    --accent-foreground: #fafdff;
    --popover: #0b0d13;
    --popover-foreground: #97a7c2;
    --border: #17222d;
    --input: #17222d;
    --card: #0b0d13;
    --card-foreground: #e9efff;
    --primary: #1c9dea;
    --primary-foreground: #ffffff;


    /* --secondary-foreground: #fafdff; */
    --destructive: #a6101a;
    --destructive-foreground: #fafdff;
    --ring: #17222d;
    --radius: 0.5rem;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.input-range::-ms-track {
  width: 300px;
  height: 5px;
  outline: none;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: transparent;

  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: transparent;
  border-width: 6px 0;

  /*remove default tick marks*/
  color: transparent;
}

.input-range::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}

.input-range::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}

.input-range::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
  border: none;
  outline: none;
}

.input-range:focus::-ms-fill-lower {
  background: #888;
}

.input-range:focus::-ms-fill-upper {
  background: #ccc;
}

.infinite-scroll-component__outerdiv {
  height: 100%;
}

.recording {
  position: absolute;
  left: 0;
  width: 90% !important;
}

.audio-recorder {
  background: inherit !important;
  color: inherit !important;
  box-shadow: none !important;
}

.recording .audio-recorder-mic {
  display: none;
}

.audio-recorder-timer {
  margin-left: 30px;
}